apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: airbyte-config
  namespace: eleduck-analytics
  labels:
    app: airbyte
    app.kubernetes.io/name: airbyte
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: airbyte-workspace
  namespace: eleduck-analytics
  labels:
    app: airbyte
    app.kubernetes.io/name: airbyte
    app.kubernetes.io/component: storage
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
