apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: metabase-data
  namespace: eleduck-analytics
  labels:
    app: metabase
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
