apiVersion: v1
kind: Service
metadata:
  name: metabase
  namespace: eleduck-analytics
  labels:
    app: metabase
    app.kubernetes.io/name: metabase
    app.kubernetes.io/component: analytics
spec:
  type: ClusterIP
  selector:
    app: metabase
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
